<table class="table table-borderless table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Estudio</th>
      <th scope="col">Informe</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Hemograma</td>
      <td>{{valorHemograma}}</td>
      <td>{{estadoHemograma}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Glicemia</td>
      <td>{{valorGlicemia}}</td>
      <td>{{estadoGlicemia}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Colesterol</td>
      <td>{{valorColesterol}}</td>
      <td>{{estadoColesterol}}</td>
    </tr>
  </tbody>
</table>