{{> head}}
    {{> navbar }}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 border border-success rounded">
			<div class="row">
				<div class="col-md-12">
          			<h2 class="text-white" style="text-align: center;">Propietario</h2>
				</div>
        		<div  class="col-md-12 bg-white text-dark"><h6 style="display:inline;">CI: </h6>{{ci}}</div>
        		<div  class="col-md-12 bg-white text-dark"><h6 style="display:inline;">Nombre: </h6>{{nombreDueno}}</div>
        		<div  class="col-md-12 bg-white text-dark"><h6 style="display:inline;">Direccion: </h6>{{direccion}}</div>
        		<div class="col-md-6 bg-white text-dark"><h6 style="display:inline;">Dpto.: </h6>{{dpto}}</div><div class="col-md-6 bg-white text-dark">Secc.: <h6 style="display:inline;">{{seccional}}</h6></div>
			  	<div  class="col-md-12 bg-white text-dark"><h6 style="display:inline;">Pasaje: </h6>{{pasaje}}</div>
        		<div  class="col-md-12 bg-white text-dark"><h6 style="display:inline;">Teléfono: </h6>{{telefono}}</div>
      		</div>
		</div>
		<div class="col-md-6 border border-success rounded">
			<div class="row">
				<div class="col-md-12" >
          			<h2 class="text-white" style="text-align: center;" >Paciente</h2>
				</div>
				<div  class="col-md-12 bg-white text-dark"><h6 style="display:inline;">Especie: </h6>{{especie}}</div>
        		<div  class="col-md-12 bg-white text-dark"><h6 style="display:inline;">Raza: </h6>{{raza}}</div>
        		<div  class="col-md-12 bg-white text-dark"><h6 style="display:inline;">Fecha de Nacimiento: </h6>{{fechaNacimiento}}</div>
        		<div class="col-md-6 bg-white text-dark"><h6 style="display:inline;">Sexo </h6>{{sexo}}</div><div class="col-md-6 bg-white text-dark"><h6 style="display:inline;">Capa: </h6>{{capa}}</div>
			  	<div  class="col-md-12 bg-white text-dark"><h6 style="display:inline;">Nombre: </h6>{{nombreAnimal}}</div>
        		<div  class="col-md-12 bg-white text-dark"><h6 style="display:inline;">Peso: </h6>{{peso}}</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 text-white" >
			Exonerado
		</div>
		<div class="col-md-4 text-white">
			Caso de Estudio
		</div>
		<div class="col-md-4 text-white">
			Patente
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
      {{> sangre }}
		</div>
		<div class="col-md-6">
      {{> orina }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
      {{> ecografia }}
		</div>
		<div class="col-md-6">
      {{> electrocardiograma }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		</div>
		<div class="col-md-6">
		</div>
	</div>
</div>
{{> footer}}
<script>
  //set button id on click to hide first modal
  $("#solicitarSangre").on( "click", function() {
        $('#preSangreModal').modal('hide');  
  });
  //trigger next modal
  $("#solicitarSangre").on( "click", function() {
        $('#sangreModal').modal('show');  
  });
</script>